{%extends "layout.html"%}
{%block content%}

<h2>What is HCTCG?</h2>
<p>
    HCTCG stands for Hermitcraft Trading Card Game.  It was created by <a href="https://www.youtube.com/VintageBeef">VintageBeef</a>, a member of the hermitcraft server. <br>
    The original game was made within minecraft, using map art as the cards, After the game grew in popularity with both <br>
    the players and viewers alike, the game was adapted into a physical TCG (Trading Card Game), with Beef working <br>
    alongside <a href="https://creocards.com">CREO</a>, a company that manufactures card games.
</p>

<h2>What is this Website?</h2>
<p>
    The purpose of this website is to provide people a place to look up the different cards, their stats, and how they are ruled. <br>
    This website as of writing uses only the map art images of cards, but may include the cards from the physical version <br>
    in the future. <br>
    This website was made for a school programming project in which we need to create a website using <a href="https://flask.palletsprojects.com/en/stable/">Flask</a>, a WSGI <br>
    web application framework for Python. Backed with an <a href="https://www.sqlite.org">SQLite</a> Database for storing the data, along with <a href="https://jinja.palletsprojects.com/en/stable/">Jinja</a> for <br>
    templating HTML pages. <br>
    If you are reading this (and you aren't my teacher!) then it most likely means I've gotten the website into a state where I <br>
    am able to release it for people to use, a goal that I wasn't really intending, but would be nice to do.
</p>

<h2>How/Where can I play HCTCG?</h2>
<p>
    <a href="https://creocards.com/collections/hermitcraft-tcg-series-2-alter-ego">Buy The Cards!</a> - 
    There is a huge community out there dedicated to HCTCG, you can find people to play a game via webcam, <br>
    Or even organize to play in person via the <a href="https://discord.gg/wDC5g2gX5g">CREO Discord.</a> (Be safe out there!)<br>
</p>
<p>
    <a href="https://hc-tcg.online">HCTCG Online!</a> - A fan made/run website in which you can play the game online using the cards from minecraft!  It <br>
    includes deck building, public matchmaking, and even boss fights!
</p>
<p>
    <a href="https://discord.gg/TXpKSRWXUh">Wildcard MC!</a> - A minecraft survival server with a thriving, friendly community, with one of it's main focuses being <br>
    to be a place where fans of HCTCG and hermitcraft can hang out and play the game!
</p>
<p>
    <a href="https://discord.gg/ajS5px4txm">Garibaldi's Decked out 2 Server!</a> - A server decicated purely to playing both HCTCG and Decked out 2 by TangoTek, <br>
    this server is my personal home ground, where I and a group of others take care of keeping the game running!
</p>

{%endblock%}