{%extends "layout.html"%}
{%block content%}
<div class="SeeAlso">
    {%for card in SeeAlso%}
    <a href="/card/hermit/{{card[1]}}/{{card[2]}}">{{card[1]}} {{card[2]}},</a>
    {%endfor%}
</div>
<img src="/static/images/hermitcrafttcglogo.jpg" alt="Hermitcraft TCG Logo" class="ArtImage">
<div class="Stats">
    <h2>Stats:</h2>
    <p>
        Health: {{HermitStats[0][3]}} <br>
        Type: <a href="/search/Type/{{HermitStats[0][1]}}">{{HermitStats[0][1]}}</a> <br>
        Strengths: <br>
        Weaknesses: <br>
        Owner: <a href="/search/OwnerName/{{HermitStats[0][2]}}">{{HermitStats[0][2]}}</a> <br>
        Ratings:  CAV {{CAV}}<br>
        Series: <a href="/seach/Series/{{HeadStats[0][4]}}">{{HeadStats[0][4]}}</a> <br>
    </p>
</div>
<div class="Attacks">
    <h2>Attacks:</h2>
    <p>
        <div class="AttackTitle">{{HermitStats[0][5]}}</div>
        Damage: {{HermitStats[0][6]}} <br>
        Cost: {{HermitStats[0][4]}}  (
        {%for i in A1Worded%}
        {{i}}, 
        {%endfor%}) <br>
        <div class="AttackText">
            {%if HermitStats[0][7]%}
            {{HermitStats[0][7]}}
            {%endif%}
        </div>

        <div class="AttackTitle">{{HermitStats[0][9]}}</div>
        Damage: {{HermitStats[0][10]}} <br>
        Cost: {{HermitStats[0][8]}}  (
        {%for i in A2Worded%}
        {{i}}, 
        {%endfor%}) <br>
        <div class="AttackText">
            {%if HermitStats[0][11]%}
            {{HermitStats[0][11]}}
            {%endif%}
        </div>
    </p>
</div>
{%endblock%}