{%extends "layout.html"%}
{%block content%}
<h1>
    How To play HCTCG
</h1>
<p>
    <h2>
        Contents:
    </h2>
    1. <a href="#intro">Intro</a> <br>
    2. <a href="#setup">Set up</a> <br>
    3. <a href="#start">Starting the game</a> <br>
    4. <a href="#cards">The Cards</a> <br>
    5. <a href="#firstturn">The "First" turn</a> <br>
    6. <a href="#playingturn">Playing out your turn</a> <br>
    7. <a href="#winning">Winning the game</a> <br>
    8. <a href="#extrarules">Additional Rules</a> <br>
</p>
<p>
    <h3 id="intro">
        1. Intro
    </h3>
    This page outlines the rules for playing HCTCG, this rulebook is written assuming you are playing within minecraft, but <br>
    notes will be added for players playing with the physical version of HCTCG.<br>
    HCTCG is very similar to the Pokemon Trading Card Game, experience in that game will help, but not required, as <br>
    this game is very easy to learn.
</p>
<p>
    <h3 id="setup">
        2. Set up
    </h3>
    To set up the game, start by having both players place their decks (out of the bundle) into the white shulkers <br>
    for their corresponding sides, located in the middle of the floor. <br>
    Then, make sure both the hand shulker (cyan) and Discard shulker (red) are empty, along with no cards on the board. <br>
    On Wildcard MC, A Referee is needed in order to gain tokens from the match, the referee will handle things such as health, <br>
    pressing buttons in the arena, and clarifying rules, ensure that you have one to referee the match, especially <br>
    for your first game.
</p>
<p>
    <h3 id="start">
        3. Starting the Game
    </h3>
</p>
<p>
    <h3 id="cards">
        4. The Cards
    </h3>
</p>
<p>
    <h3 id="firstturn">
        5. The "First" turn
    </h3>
</p>
<p>
    <h3 id="playingturn">
        6. Playing out your turn
    </h3>
</p>
<p>
    <h3 id="winning">
        7. Winning the game
    </h3>
</p>
<p>
    <h3 id="extrarules">
        8. Additional rules
    </h3>
</p>
{%endblock%}