{%extends "layout.html"%}
{%block content%}
<h1>
    How To play HCTCG
</h1>
<p>
    <h2>
        Contents:
    </h2>
    1. <a href="#intro">Intro</a> <br>
    2. <a href="#setup">Set up</a> <br>
    3. <a href="#start">Starting the game</a> <br>
    4. <a href="#cards">The Cards</a> <br>
    5. <a href="#firstturn">The "First" turn</a> <br>
    6. <a href="#playingturn">Playing out your turn</a> <br>
    7. <a href="#winning">Winning the game</a> <br>
    8. <a href="#extrarules">Additional Rules</a> <br>
</p>
<p>
    <h3 id="intro">
        1. Intro
    </h3>
    This page outlines the rules for playing HCTCG, this rulebook is written assuming you are playing within minecraft, but <br>
    notes will be added for players playing with the physical version of HCTCG.<br>
    HCTCG is very similar to the Pokemon Trading Card Game, experience in that game will help, but not required, as <br>
    this game is very easy to learn.
</p>
<p>
    <h3 id="setup">
        2. Set up
    </h3>
    To set up the game, start by having both players place their decks (out of the bundle) into the white shulkers <br>
    for their corresponding sides, located in the middle of the floor. <br>
    Then, make sure both the hand shulker (cyan) and Discard shulker (red) are empty, along with no cards on the board. <br>
    On Wildcard MC, A Referee is needed in order to gain tokens from the match, the referee will handle things such as health, <br>
    pressing buttons in the arena, and clarifying rules, ensure that you have one to referee the match, especially <br>
    for your first game.
</p>
<p>
    <h3 id="start">
        3. Starting the Game
    </h3>
    Once everything is set up, go over to the button that says "start game" and press it ¯\_(ツ)_/¯. (its quite simple)
</p>
<p>
    <h3 id="cards">
        4. The Cards
    </h3>
    There are 3 types of cards in HCTCG:
    <h4>
        Hermit Cards:
    </h4>
    Hermit cards are the baseline of HCTCG, they are the cards that are used in attacking/being attacked by your opponent.
    a Hermit card has a Name, Art, Heath, 2 attacks with relevant damage and item costs, and a type.
    hermit cards come in 3 different rarities: <br>
    <i>Common hermits</i> have basic attacks, and are generally weak. <br>
    <i>Rare hermits</i> have an attack (typically the 2nd) with a special effect on it, each effect is unique to the Hermit, and you can see it via hovering over the item in the inventory.<br>
    <i>Ultra Rare Hermits</i> are very similar to rares, currently, 3 exist, UR Etho, UR Beef, UR TFC (On wildcard or the IRL tcg, these cards do not exist) these cards were made specially for people for a few reasons. <br>

    <h4>
        Item Cards:
    </h4>
    Item cards are attached to a Hermit in order to "power up" it's attacks, to use an attack, the relevant "cost" (designated by the symbols to the left of the attack's name) must be met, for example, Common Bdub's "Gradient" Requires 1 Builder type item card attached to it. there are 10 different item cards, one for each type, and the right type is required to "power" an attack. <br>
    A white circle in an attack cost indicated that any type item card may be used to fufill that part of the cost. <br>
    Example: Rare Bdub's "Shreep" Requires 2 Builder item cards, and 1 of any item card attached to it, this is useful for decks that may use two or more types of hermit.

    <h4>
        Effect Cards:
    </h4>
    Effect cards are additional cards that can be played on your turn to do different things, including (but not limited to): <br>
    deal extra damage, heal yourself, draw cards, or swap hermits there are 2 types of effect Card.<br>
    <i>Attach Effects</i> are placed onto your hermit inbetween the hermit and it's items, an attached effect is (usually) ongoing, <br>
    and is triggered by something happening within the game, afterwards either staying on the hermit or being discarded. <br>
    <i>Single Use Effects</i> are placed in the centre item frame below the health shulkers, these cards use their effect, then <br>
    are moved to your discard pile. <br>
    You can read what an effect card does by hovering over it's item in the inventory. <br>
    Effect cards also come in the 3 rarites that hermit cards do, with each rarity having more powerful, game changing cards.<br>
</p>
<p>
    <h3 id="firstturn">
        5. The "First" turn
    </h3>
    The lamps below the boards indicate who's turn it is, one of the sides should be lit, this player goes first. <br>
    before that, the other player gets a "turn zero" in which they must place one (1) hermit on the board for their opponent <br>
    to then judge which of their hermits to start out on. <br>
    the first player then does their turn, with the exception they do not attack at the end of the turn. <br>
    the player who had "turn zero" will attack as normal on their turn
</p>
<p>
    <h3 id="playingturn">
        6. Playing out your turn
    </h3>
    on your turn, you may do the following actions (in order) <br>
    - Play hermit cards (as many as you want) <br>
    - Play an item card (one per turn) <br>
    - Play attached effect cards (as many as you want) <br>
    - Swap your active hermit (ends your turn, cannot attack or play a single use) <br>
    - Play a single use effect card (one per turn) <br>
    - Attack your opponent <br>
    - End Turn
    <h4>
        Playing hermit cards
    </h4>
    To play a hermit card, place the card in the 2nd slot from the centre,  then grab the health card <br>
    with the value indicated on the hermit card and place it next to the hermit, on the side closest to the centre <br>
    <h5>
        Active and AFK hermits
    </h5>
    You may only have one "active" Hermit at a time, this is the hermit that you attack with, and is the one attacked by your <br>
    opponent, all other hermits are considered "AFK" indicated by rotating them sideways in the item frame. an active hermit <br>
    is rotated upright.
    <h4>
        Playing item cards
    </h4>
    To play an item card, place it in one of the three end slot's on a hermit's row, this "attaches" the item card to the hermit <br>
    <h4>
        Playing attached effect cards
    </h4>
    Attached effects go in the slot inbetween the item and hermit cards, this card's effect is then "in effect" as long as the <br>
    relevant hermit remains active (cards such as armour and lightning rod remain in effect on an afk hermit)
    <h4>
        Swapping your active hermit
    </h4>
    To swap your active hermit, simpy rotate your currently active hermit into the AFK position, and turn the desired AFK Hermit <br>
    Upright to make it "active", this action ends your turn, if you swap, you may not play a single use card or attack this turn.
    <h4>
        Playing single use effect cards
    </h4>
    To play a single use effect, place it in the middle item frame, underneath the health shulkers. the relevant effect the <br>]
    card has can be seen by hovering over it in the inventory, after applying it's effect the card placed in your discard pile.
    <h4>
        Attacking your opponent.
    </h4>
    Hermit cards have 2 attacks, listed on the bottom of the card. as explained in the item card explanation. in order to <br>
    use an attack, the relevant item cost must be met.  Each attack has a series of symbols to the left of the attack's name, <br>
    indicating the "cost" to meet this cost, item cards must be attached to the hermit that match the type and amount of symbols <br>
    on the hermit card, a white circle on the hermit card means any type item card may be used to fufil that "part" of the cost. <br>
    to use the attack, if the attack cost has been met, tell your opponent that you wish to use the attack. <br>
    the damage that the attack deals is indicated by the number on the right of the attack's name. this is the damage that is <br>
    subtracted from your opponent's active hermit's health. <br>
    On rare Hermit cards, one of the attacks has an effect, indicated by the damage value being in blue text, the effect of the <br>
    attack can be viewed by hovering over the card in the inventory, if this attack is used its relevant effect is carried out. <br>
    this action then ends your turn.
    <h4>
        Ending your turn.
    </h4>
    to end your turn, press the button thats in the middle of the discard, hand, and deck insert shulkers, you should see the lamps <br>
    change to show your opponent's turn, and a new card will be drawn into your hand.
</p>
<p>
    <h3 id="winning">
        7. Winning the game
    </h3>
    There are 3 conditions in which you win the game in Hermitcraft TCG.
    <h4>
        Reaching 3 points
    </h4>
    when your opponent's active hermit's life total reaches 0, the hermit is knocked out. the hermit and all its attached cards <br>
    are moved to your opponent's discard pile, and you gain a victory point, this also draws you an extra card.  you opponent on <br>
    their turn then chooses an AFK Hermit to make active. this happens before any other action on your opponen'ts turn, so they<br>
    may not play a hermit to make it active on their turn (unless they take the swap action, in which case it ends their turn)<br>
    reaching 3 victory points (knocking out 3 of your opponent's Hermits) wins you the game.
    <h4>
        Clearing your opponent's board.
    </h4>
    if an opponent's hermit is knocked out and your opponent has no AFK hermit to make active, they lose immediately.
    <h4>
        "Decking Out"
    </h4>
    you have a limited number of cards in your deck, if you go to draw a card and you have no cards to draw, you lose the game.
    <h4>
        Ties
    </h4>
    The game can be tied, if both you and your opponent reach a condition in which would be considered a win in the same turn, the <br>
    game ends in a draw.
    E.G Rare Stress's "YOLO" KO'ing both you and your opponent at the same time, causing you and your opponent to reach 3 points, <br>
    regardless of the fact that you were the one to execute the attack, the game ends in a draw.
</p>
<p>
    <h3 id="extrarules">
        8. Additional rules
    </h3>
    <h4>
        Effect cards can break the rules
    </h4>
    almost every single rule highlighted has a card or circumstance in which it is ignored, if a card's effect directly breaks a rule, <br>
    Don't worry about it, the cards allow you to perform actions you otherwise wouldn't be able to.
    <h4>
        Type Advantage and weakness
    </h4>
    The different hermit types have a purpose, each type is weak/strong against another type, if your active hermit's type is <br>
    "strong" against your opponent's active hermit type, then when attacking, you deal an additional 20 damage with your attack. <br>
    Splash potion of weakness essentially "adds" a temporary line to the strength chart, if you are both playing the same type, <br>
    this "line" goes back on itself, and both players recieve the benifit of type advantage.
    <h4>
        Poison and Burn
    </h4>
    Poison and Burn are status effects a hermit may have, they can be applied to a hermit via a hermit's attack or an effect card. <br>
    when an opponent's Hermit is poisoned or burned, when you attack, deal an additional 20hp damage the the hermit (similar to <br>
    weakness) if a burned/poisoned hermit is AFK or you do not attack/swap, the damage is still dealt to the hermit, it is applied <br>
    at the time in your turn where you would attack. <br>
    Damage dealt via burn and poison is not considered damage from effect cards, chain/diamond/netherite armour does not ignore <br>
    the damage dealt, but still does have the overall -20 damage. <br>
    Posion ignores armour, this means that the damage done from poison does not get considered when subtracting damage due <br>
    to armour, additionally, poison damage is "applied" last, if the posion damage is the damage that would be needed to KO <br>
    the posioned hermit, poison leaves the hermit on 10hp.
</p>
{%endblock%}